.col-form-label { 
    font-weight: 700;
}

.vc-shadow {
    border-width: 0px !important;
    box-shadow: none !important;
}

.vc-popover-content-wrapper {
    transform: translate3d(-30px, 36px, 0px) !important;
    left:30px !important;
}

.text-end {
    text-align: end !important;
}
    
.status-box {
    display: inline-grid;
    grid-template-columns: 20px auto 20px auto 20px auto;
    grid-template-rows: 25px;
    column-gap: 10px;
}

.list-style{
    list-style-type: none;
    list-style-image: none;
}

.list-inline{
    display: inline;
}

.dark-gray-created{
    background-color: #e9ecef;;
}

h3, .h3 {
    font-size: 20px;
    margin-bottom: 0;
}
h4, .h4 {
    font-size: 15px;
}

.w-15 {
    width: 15% !important;
}
.w-20 {
    width: 20% !important;
}
.w-30 {
    width: 30% !important;
}
.w-40 {
    width: 40% !important;
}
.w-35 {
    width: 35% !important;
}
.w-60 {
    width: 60% !important;
}
.w-65 {
    width: 65% !important;
}
.w-70 {
    width: 70% !important;
}
.w-80 {
    width: 80% !important;
}

.w-70 .flex-fill {
    width: 7.14%;
}

.fs-12{
    font-size: 12px
}

.fs-15{
    font-size: 15px;
}

.fs-17{
    font-size: 17px;
}

.border-5 {
    border-width: 5px !important;
}

body {
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

.two-weeks .border {
    border-bottom: none !important;
    border-top: none !important;
}

.icon::before{   
    font-family: "Font Awesome 5 Free";
    content: '\f077';
    font-weight: bold;
    font-size: 12px;
    position: relative;
    right: -99%;
    top: 3px;
}

.icon.collapsed::before{
    font-family: "Font Awesome 5 Free";
    content: '\f078';
    font-weight: bold;
    font-size: 12px;
    position: relative;
    right: -99%;
    top: 3px;
  
}

.open-color{
    background-color:rgba(0,128,0,0.7)
}

.close-color{
    background-color:rgba(255,0,0,0.7)

}

.no-arrivals-color{
    background-color:rgba(128,128,128,0.7)
}

.mt-6{
    margin-top: 2rem !important;
}

.color-primary{
    color: #10467a;
}