<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Principal.master.vb"
    Inherits="RateManager.PrincipalMaster" %>

<%@ Register Src="Portal/Modules/ctrlHeader.ascx" TagName="ctrlHeader" TagPrefix="uc1" %>
<%@ Register Src="Portal/Modules/ctrlMenuLeft.ascx" TagName="ctrlMenuLeft" TagPrefix="uc3" %>
<%@ Register Src="Portal/Modules/ctrlMenuTap.ascx" TagName="ctrlMenuTap" TagPrefix="uc2" %>
<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Sistema de Administración de Tarifas</title>
    <link rel="shortcut icon" href="/ratemanager/favicon.ico" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="Includes/estilos.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous /">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script> 
   
     <!-- SWEET ALERT -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.13.0/dist/sweetalert2.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.13.0/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        // HUB de alertas
        var fireAlert = function(alertData){
            var dfd = $.Deferred();
            Swal.fire(alertData).then(function (response) {
                dfd.resolve(response);
            })
            .catch(function (reason) {
                dfd.reject(reason);
            });
            return dfd.promise();
        }

        window.$swal = fireAlert;

    </script>

    <script type="text/javascript" language="javascript">

        window.time = 0;
        window.waitingForceLogout;

        function logout() {

            if (!Swal.isVisible()) {
                Swal.fire({
                    title: '<%=GetLabel("01655") %>',
                    text: '<%=GetLabel("01656") %>',
                    type: 'warning',
                    confirmButtonText: '<%=GetLabel("01657") %>',
                    cancelButtonText: '<%=GetLabel("00159") %>',
                    showCloseButton: false,
                    showCancelButton: true,
                    allowOutsideClick: false,
                    allowEscapeKey: false
                    }).then(function (result) {
                        if (result.value) {
                            console.log('Limpiar')
                            clearTimeout(window.waitingForceLogout);
                            resetTimer();
                        }
                        else {
                            window.location = jQuery('#ctl00_linkLogOut').attr('href');
                    }
                })

                window.waitingForceLogout = setTimeout(forceLogout, 180000);
            }
         }


         function resetTimer() {
            console.log('reset');
            clearTimeout(window.time);
             window.time = setTimeout(logout, 300000)
        }

        function forceLogout() {
            console.log('Force');
            window.location = jQuery('#ctl00_linkLogOut').attr('href');
        }

    </script>


    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <script type="text/javascript">
        var interact = false;
        function remove_leftMenu() {
            //David Bustamante
            //Se quita el menu izquierdo para mostrar completo el iframe

            //document.getElementById('submenuDiv').style.width = '0px';
            //document.getElementById('contenido').style.width = '99%';
        }
        jQuery.noConflict();
        
        jQuery(document).ready(function () {

            //opcionesIcono y preguntas frecuentes
            jQuery("#opcionesIcono, #linkPreguntasFrecuentes").click(function() {
                jQuery('#loading').show();
                HideMenu();
            });

            jQuery("#submenuDiv .dvhide").hide();
            /*jQuery('*.dropdown-item[href*="rate-manager-ui"]').click(function () {
                functionSetOptionMenu(jQuery(this)[0].href);
            });*/
            //click menu header
            window.ratemanager_ui = {
                    isUi: false,
                    url: null
                };
            jQuery('#menuPrincipal ul > li a').click(function(){

                var ui = jQuery(this).attr('href').indexOf('rate-manager-ui') > 0;
                window.ratemanager_ui.isUi = ui;
                window.ratemanager_ui.url = (ui ? jQuery(this).attr('href') : null);

                var content_submenu = jQuery(this).attr('href') + '_div';
                HideMenu();
                jQuery(content_submenu).show(300);

                var firstHref = jQuery(content_submenu + ' a:first');
                firstHref.trigger('click');
                
                jQuery('#sidebarContent').show();
                jQuery(this).parent('li').addClass('active');
                    
                setTimeout(function() {
                    jQuery('.dropdown-menu*').removeClass('show');
                }, 100)

                if (firstHref.attr('href') != undefined && firstHref.attr('href') != '#')
                {
                    try
                    {
                        window.open(firstHref.attr('href'), 'frmPrincipal');

                        /**/
                    } catch (error){ }
                }
            })

            jQuery('iframe').load(function() {
                jQuery('#loading').hide();
                this.contentWindow.document.body.offsetHeight + 'px';
                console.log(this.contentWindow.document.body.offsetHeight + 'px');
                if (window.ratemanager_ui.isUi)
                    functionSetOptionMenu(window.ratemanager_ui.url);

                var iframe = jQuery('#frmPrincipal');
                iframe[0].contentWindow.addEventListener("mousemove", function () {
                    resetTimer();
                });                
            });

            jQuery(".submenuprin li").click(function() {
                jQuery(this).parent("ul").toggleClass("hovered");

                jQuery('#loading').show();

            });
            //SubMenu
            jQuery("#submenuDiv .submenu li div p a").parent("li").attr("class", "");
            

            jQuery('#submenuDiv a').click(function(){
                jQuery('#submenuDiv li').removeClass('activo-subSubmenu');
                jQuery(this).parent('li').addClass('activo-subSubmenu');
            })

            <%--jQuery("#<%=lnkNameCompany.ClientID %>").click(function() {
                jQuery(".infoHotel").toggle("slow");
            });--%>

            jQuery(".showOptions").click(function() {
                jQuery(this).toggleClass("hideOptions");
            });

            jQuery(".showOptionsLf").click(function() {
                jQuery(this).toggleClass("hideOptionsLf");
            });
        });
        function HideMenu()
        {
            jQuery('#sidebarContent').hide();
            jQuery('#menuPrincipal li').removeClass('active');
            jQuery('#submenuDiv .dvhide').hide();
        }
        //Script para el link de "Subir"
        jQuery(function() {
            jQuery(window).scroll(function() {
                if (jQuery(this).scrollTop() > 100) {
                    jQuery('.subir').fadeIn();
                } else {
                    jQuery('.subir').fadeOut();
                }
            });
            jQuery('.subir a').click(function() {
                jQuery('body,html').animate({
                    scrollTop: 0
                }, 500);
                return false;
            });


            /*jQuery('#sidebar').mCustomScrollbar({
            	theme: 'minimal'
            })*/

            jQuery('#sidebarCollapse').click(function(){
            	jQuery('#sidebar').addClass('active');
            	jQuery('.overlay').addClass('active');
            	jQuery('.collapse.in').toggleClass('in');
            	jQuery('a[aria-expanded=true]').attr('aria-expanded', 'false');

            })

            jQuery('.dismiss, .overlay').click(function(){
            	jQuery('#sidebar').removeClass('active');
            	jQuery('.overlay').removeClass('active');
            })


            var initEvents = function () {                
                // DOM Events
                document.onmousemove = resetTimer;
                document.onkeydown = resetTimer
             };

            window.onload = function () {
                initEvents();
                resetTimer();
            }




            <%--document.addEventListener("mousemove", function () {
                interact = true;
                console.log(interact);
            });

            //session warning
            var minutes_session = 15;
            var minutes_session_user = 2;
            window.session_counter = 0;
            window.wait_user_counter = 0;

            setInterval(sessionWarning, 60000);
            function sessionWarning() {

                window.session_counter++;
                if (interact === false) {
                    if (window.session_counter >= minutes_session) {
                        if (!Swal.isVisible()) {
                            Swal.fire({
                                title: '<%=GetLabel("01655") %>',
                                text: '<%=GetLabel("01656") %>',
                                type: 'warning',
                                confirmButtonText: '<%=GetLabel("01657") %>',
                                cancelButtonText: '<%=GetLabel("00159") %>',
                                showCloseButton: false,
                                showCancelButton: true,
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then(function (result) {
                                if (result.value) {
                                    window.session_counter = 0;
                                    window.wait_user_counter = 0;
                                    interact = false;
                                }
                                else logOut();
                            })

                            //setInterval(sessionWarningTime, 60000);
                        }
                    }
                }
                else {               
                    interact = false;
                }
            }

            function sessionWarningTime() {
                if (window.session_counter >= minutes_session) {
                    window.wait_user_counter++;
                    if (window.wait_user_counter >= minutes_session_user) logOut();
                }
            }

            jQuery('#frmPrincipal').load(function () {
                window.session_counter = 0;
            })

            function logOut() {
                window.location = jQuery('#ctl00_linkLogOut').attr('href');
            }--%>
        });
    </script>

</head>
<body class="body">
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <a href="<%=Request.Url.AbsolutePath%>" class="navbar-brand mr-0 mr-md-2 p-0" aria-label="Bootstrap">
	        <img src="Includes/imagenes/istotipo-internetpowerhotel-blanco.png" style="width: 25px;">
        </a>
        <div id="menuPrincipal" class="navbar-nav-scroll">
            <uc2:ctrlMenuTap ID="ctrlMenuTap1" runat="server" />
        </div>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
			<li class="nav-item dropdown">
				<a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-toggle="dropdown" id="headermenu" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-user"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="headermenu">
					<div class="header-menu">
						<span><%=GetLabel("01458")%>,</span> <asp:Label ID="lblUser" runat="server"></asp:Label>
					</div>
					<!-- la condicion debe ser igual a "es-MX" -->
					<%If RateManager.PortalCulture.GetCulture().ToString = "xxx" Then%>
						<a runat="server" id="lnkTicket" class="dropdown-item" target="frmPrincipal">
							<i class="fas fa-user-tie"></i> <%=GetLabel("01314") %>
						</a>
						<a runat="server" id="lnkTicketList" class="dropdown-item" target="frmPrincipal">
							<i class="fas fa-file-alt"></i> <%=GetLabel("01315") %>
						</a>
					<%End If%>
					<a runat="server" id="lnkhelp" class="dropdown-item" target="frmPrincipal">
						<i class="fas fa-question-circle"></i> <%=GetLabel("01654") %>
					</a>
					<asp:LinkButton runat="server" CssClass="dropdown-item" CausesValidation="false" ID="linkLogOut">
						<i class="fas fa-sign-out-alt"></i> <%=GetLabel("00159")%>
					</asp:LinkButton>
				</div>
			</li>
			<li>
				<%If RateManager.PortalCulture.GetCulture().ToString = "es-MX" Then%>
					<a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-toggle="dropdown" id="menuLanguage" aria-haspopup="true" aria-expanded="false">
						<img src='<%=GeRequestApplicationPath("/Images/mexico.gif") %>' style="margin-right: 4px" /><%=GetLabel("01456")%></a>
					</a>
				<%Else%>
					<a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-toggle="dropdown" id="menuLanguage" aria-haspopup="true" aria-expanded="false">
						<img src='<%=GeRequestApplicationPath("/Images/usa.gif") %>' style="margin-right: 4px" /><%=GetLabel("01457")%></a>
					</a>
				<%End If%>
				<div class="dropdown-menu dropdown-menu-right dropdownLng" aria-labelledby="menuLanguage">
					<%If RateManager.PortalCulture.GetCulture().ToString = "es-MX" Then%>
						<a href='<%= GeRequestApplicationPath(string.concat("/" , Response.Cookies("groupid").value, "home.aspx?ididioma=2"))%>' class="dropdown-item">
							<img src='<%=GeRequestApplicationPath("/Images/usa.gif") %>' style="margin-right: 4px" /><%=GetLabel("01457")%></a>
						</a>
					<%Else%>
						<a href='<%= GeRequestApplicationPath(string.concat("/" , Response.Cookies("groupid").value,  "home.aspx?ididioma=1" ))%>' class="dropdown-item">
							<img src='<%=GeRequestApplicationPath("/Images/mexico.gif") %>' style="margin-right: 4px" /><%=GetLabel("01456")%></a>
						</a>
					<%End If%>
				</div>
			</li>
		</ul>
    </header>
	
    <div id="loading">
        <img src="Includes/imagenes/loader.gif" alt="Espere por favor..." />
    </div>
    <div style="display:none" id="header">
        <asp:Label ID="lblTitle" runat="server" Text="Label" CssClass="clsHeaderTitle">Sistema de Administración de Hotel</asp:Label>
    </div>
    <div style="display: block;">
        
        
        <div id="inforHotel" style="display: none">
            <asp:Label runat="server" ID="lblInfoHotel"></asp:Label>
        </div>
        <a href="#url" class="sombraBlanca botonOpciones">Ayuda ▼</a> <a href="#url" class="sombraBlanca botonOpciones">
            Opciones ▼</a>
    </div>

    

        
    <!--Content nombre del hotel-->
    <div class="container-fluid contentHotelName navbar navbar-expand">
        <div id="sidebarContent">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-bars"></i>
            </button>
         </div>
         <ul class="navbar-nav flex-row d-none d-md-flex">
            <li class="nav-item dropdown">
                <asp:HyperLink ID="lnkNameCompany" runat="server" CssClass="nombreHotel showOptionsLf" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></asp:HyperLink>
                <div class="dropdown-menu" aria-labelledby="ctl00_lnkNameCompany">
                    <div id="contentInfo"></div>
                </div>
            </li>
        </ul>
        <div class="followMenu"></div>
    </div>



    <div class="wrapper">
    	<nav id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide" style="overflow:visible;">
	        <div class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height:none;" tabindex="0">
	            <div id="submenuDiv" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
	            	<div class="dismiss">
	            		<i class="fa fa-arrow-left"></i>
	            	</div>
	            	<div class="sidebar-header">
                        <h5 id="titleSideBar"></h5>
	            	</div>
                    <uc3:ctrlMenuLeft ID="ctrlMenuLeft1" runat="server" />
	            </div>
	        </div>
    	</nav>
        
    	<div class="content"> 
            <div class="overlay"></div>
            
            <div class="row">
                <div class="col-md-12">
                    <asp:ContentPlaceHolder ID="ContainerPage" runat="server"></asp:ContentPlaceHolder>
                </div>
            </div>
    		<table style="width:100%; display: none" border="0" cellpadding="0" cellspacing="0">
		        <tr>
		            <%--<td valign="top">
		                <div>
		                    
		                    <div class="clear">
		                        <iframe id="frmChat" src="Chat.aspx" frameborder="0" height="75px" style="margin: 0;
		                            padding: 0;" width="100%" scrolling="no"></iframe>
		                    </div>
		                    <div class="clear" style='text-align: center; display: <%=iif(RateManager.PortalCulture.GetIDCulture =1,"block","none")%>'>
		                        <a id="linkPreguntasFrecuentes" target="frmPrincipal" href="<%response.write(GeRequestApplicationPath( "/Documentacion/Preguntasfrecuentes.htm"))%>">
		                            Preguntas frecuentes</a>
		                    </div>
		                </div>
		            </td>--%>
		        </tr>
    		</table>
    	</div>
    </div>

   <%-- <div class="float-chat">
        <div id="ci6Bxl" style="z-index:100;position:absolute"></div>
        <div id="sc6Bxl" style="display:inline"></div>
        <div id="sd6Bxl" style="display:none"></div>
        <script type="text/javascript">
            var se6Bxl=document.createElement("script");
            se6Bxl.type="text/javascript";
            var se6Bxls=(location.protocol.indexOf("https")==0?"https":"http")+"://image.providesupport.com/js/1tirui939hq2a0wfjsj1998o4s/safe-standard.js?ps_h=6Bxl&ps_t="+new Date().getTime();
            setTimeout("se6Bxl.src=se6Bxls;document.getElementById('sd6Bxl').appendChild(se6Bxl)",1)
        </script>
        <noscript>
            <div style="display:inline">
                <a href="http://www.providesupport.com?messenger=1tirui939hq2a0wfjsj1998o4s">Live Help Chat</a>
            </div>
        </noscript>
    </div>--%>

    <!--footer-->
    <%
        Dim reader As System.IO.TextReader

        Dim fileName As String = Request.PhysicalApplicationPath & "/Portal/Modules/footer_" & RateManager.PortalCulture.GetCulture.ToString.Substring(0, 2) & ".htm"
        If System.IO.File.Exists(filename) Then

            reader = New System.IO.StreamReader(fileName, System.Text.Encoding.Default)
            Dim footer As String = reader.ReadToEnd()
            reader.Close()
            Response.Write(footer)
        End If
    %>
    
    <div class="subir">
        <a href="#top">
            <i class="fa fa-arrow-circle-up"></i>
        </a>
    </div>
        
    </form>
</body>
</html>
