<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Invoicing-->
  <configSections>
    <section name="uniBillingConnectionStrings" type="Oz.UniBilling.Common.Settings.ConnectionStrings, Oz.UniBilling.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=38b5c620e4c4648d" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RateManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ozhotelesConnectionString" connectionString="Data Source=50.112.125.138;Initial Catalog=ozhoteles;Persist Security Info=True;User ID=UserUv;Password=Uv@ll2017!" providerName="System.Data.SqlClient" />
    <add name="HotelBedsConnectionString" connectionString="Data Source=50.112.125.138;Initial Catalog=hotelbeds;Persist Security Info=True;User ID=UserUv;Password=Uv@ll2017!" providerName="System.Data.SqlClient" />
    <!--
    <add name="ozhotelesConnectionString" connectionString="Data Source=144.217.247.247,59056;Initial Catalog=ozhoteles;Persist Security Info=True;User ID=UserUv;Password=CubaAll07" providerName="System.Data.SqlClient" />
    <add name="HotelBedsConnectionString" connectionString="Data Source=144.217.247.247,59056;Initial Catalog=hotelbeds;Persist Security Info=True;User ID=UserUv;Password=CubaAll07" providerName="System.Data.SqlClient" />
    -->
    <add name="ozunivisitEntities" connectionString="metadata=res://*/IPRModel.csdl|res://*/IPRModel.ssdl|res://*/IPRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test.univisit.com;initial catalog=ozunivisit;persist security info=True;user id=UserUv;password=Uv@ll2017!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OzHotelesEntities" connectionString="metadata=res://*/Models.OzHoteles.csdl|res://*/Models.OzHoteles.ssdl|res://*/Models.OzHoteles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=50.112.125.138;initial catalog=ozhoteles;persist security info=True;user id=UserUv;password=Uv@ll2017!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OzUniEntities" connectionString="metadata=res://*/Models.OzUniEntities.csdl|res://*/Models.OzUniEntities.ssdl|res://*/Models.OzUniEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=50.112.125.138;initial catalog=OzUnivisit;user id=UserUv;password=Uv@ll2017!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--
    <add name="OzHotelesEntities" connectionString="metadata=res://*/Models.OzHoteles.csdl|res://*/Models.OzHoteles.ssdl|res://*/Models.OzHoteles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.72.54.21;initial catalog=ozhoteles;persist security info=True;user id=UserUv;password=Uv@ll2017!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OzUniEntities" connectionString="metadata=res://*/Models.OzUniEntities.csdl|res://*/Models.OzUniEntities.ssdl|res://*/Models.OzUniEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.72.54.21;initial catalog=OzUnivisit;user id=UserUv;password=Uv@ll2017!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <!--
    <add name="ozhotelesConnectionString" connectionString="Data Source=184.72.54.21;Initial Catalog=ozhoteles;Persist Security Info=True;User ID=UserUv;Password=AllUv07" providerName="System.Data.SqlClient" />
    <add name="HotelBedsConnectionString" connectionString="Data Source=184.72.54.21;Initial Catalog=hotelbeds;Persist Security Info=True;User ID=UserUv;Password=AllUv07" providerName="System.Data.SqlClient" />
    -->
    <!--
    <add name="ozunivisitEntities" connectionString="metadata=res://*/IPRModel.csdl|res://*/IPRModel.ssdl|res://*/IPRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=144.217.247.247,59056;initial catalog=ozunivisit;persist security info=True;user id=UserUv;password=CubaAll07;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OzHotelesEntities" connectionString="metadata=res://*/Models.OzHoteles.csdl|res://*/Models.OzHoteles.ssdl|res://*/Models.OzHoteles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=144.217.247.247,59056;initial catalog=ozhoteles;persist security info=True;user id=UserUv;password=CubaAll07;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
    <!--
    <add name="ozunivisitEntities" connectionString="metadata=res://*/IPRModel.csdl|res://*/IPRModel.ssdl|res://*/IPRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.72.54.21;initial catalog=ozunivisit;persist security info=True;user id=UserUv;password=AllUv07;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OzHotelesEntities" connectionString="metadata=res://*/Models.OzHoteles.csdl|res://*/Models.OzHoteles.ssdl|res://*/Models.OzHoteles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.72.54.21;initial catalog=ozhoteles;persist security info=True;user id=UserUv;password=AllUv07;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
  </connectionStrings>
  <!--
    Para obtener una descripcion de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpModules>
      <add name="ModuleAuthenticacion" type="LoginAuthenticate.clsModuleAuthenticate,LoginAuthenticate" />
      <!-- Nombre= Pude ser arbitrario Type= Espaciodenombres.nombreclasemodulo, nombreEnsamblado -->
    </httpModules>
    <httpHandlers>
      <add verb="*" path="Authenticate.aspx" type="LoginAuthenticate.clsAuthenticate,LoginAuthenticate" />
      <!--<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
    </httpHandlers>
    <identity impersonate="true" />
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="http://localhost/ratemanager/NoDisponible.aspx">
      <error statusCode="404" redirect="NoPageAvailable.htm" />
    </customErrors>
    <authorization>
      <allow users="*" />
    </authorization>
    <trace enabled="false" requestLimit="25" pageOutput="true" traceMode="SortByTime" localOnly="false" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="60" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" />
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <appSettings>
    <!-- Identificador para eMailTemplates -->
    <add key="DefaultLanguage" value="en-US" />
    <add key="SMTP" value="mail.oz.com.mx" />
    <add key="smtpConfiguration" value="1" />
    <add key="smtpauthenticate" value="1" />
    <add key="sendusername" value="smtpuser" />
    <add key="sendpassword" value="smtpauthed" />
    <add key="smtpserver" value="mail.univisit.com" />
    <add key="sendusing" value="2" />
    <add key="smtpport" value="25" />
    <add key="smtpusessl" value="false" />
    
    <add key="HotelDicctionaryConectionString" value="server=50.112.125.138;User ID=UserUv;Password=Uv@ll2017!;database=ozHoteles;Connection Reset=FALSE" />
    <add key="HotelConnectionString" value="server=50.112.125.138;User ID=UserUv;Password=Uv@ll2017!;database=ozHoteles;Connection Reset=FALSE" />
    <add key="HotelConnection" value="server=50.112.125.138;User ID=UserUv;Password=Uv@ll2017!; database=ozHoteles" />
    <add key="PortalConnectionString" value="server=50.112.125.138;User ID=UserUv;Password=Uv@ll2017!;database=ozUnivisit;Connection Reset=FALSE" />
    <add key="PortalConectionString" value="server=50.112.125.138;User ID=UserUv;Password=Uv@ll2017!;database=ozUnivisit;Connection Reset=FALSE" />
    <add key="ConnectionString.PortalMexico" value="data source=50.112.125.138;persist security info=true;User ID=UserUv;Password=Uv@ll2017!;packet size=4096; initial catalog=ozUnivisit" />
    <add key="PortalConnection" value="data source=50.112.125.138;persist security info=true;User ID=UserUv;Password=Uv@ll2017!;packet size=4096; initial catalog=ozUnivisit" />
    <add key="AutoConnection" value="server=50.112.125.138;User ID=UserUv;Password=Uv@ll2017!; database=Autos" />
    <add key="ActivityConnection" value="server=50.112.125.138;User ID=UserUv;Password=Uv@ll2017!; database=Actividades" />
    <add key="HotelConnectionLocal" value="data source=50.112.125.138;persist security info=true;User ID=UserUv;Password=Uv@ll2017!;packet size=4096; initial catalog=ozHoteles" />
    <add key="Club100_cs" value="server=50.112.125.138; User ID=UserUv;Password=Uv@ll2017!; database=Club100" />
    <add key="AgenciesConnection" value="server=50.112.125.138; User ID=UserUv;Password=Uv@ll2017!;database=agencias;Connection Reset=FALSE;Connection Timeout=20" />
    <add key="agencyconnectionstring" value="server=50.112.125.138; User ID=UserUv;Password=Uv@ll2017!;database=agencias;Connection Reset=FALSE;Connection Timeout=20" />
    <add key="UniFacturaDigital" value="server=50.112.125.138; User ID=UserUv;Password=Uv@ll2017!;database=UniFacturaDigital;Connection Reset=FALSE;Connection Timeout=20" />
    <add key="ConfluxConnectionString" value="server=50.112.125.138; User ID=ConfluxUser;Password=0000;database=Conflux;Connection Reset=FALSE;Connection Timeout=20" />
    <add key="RateCrsConnectionString" value="server=50.112.125.138;User ID=UserUv;Password=Uv@ll2017!; database=ozRateCrs" />
    <add key="Passport.Passport" value="http://test.univisit.com/wsPassport/Passport.asmx" />
    <add key="ExternalLoginUrl" value="http://test.univisit.com/webapplogin/Login.aspx" />
    <add key="idSistema" value="57" />
    
    <!-- CUBA  -->
    <!--
    <add key="HotelDicctionaryConectionString" value="server=144.217.247.247,59056;User ID=UserUv;Password=CubaAll07;database=ozHoteles;Connection Reset=FALSE" />
    <add key="HotelConnectionString" value="server=144.217.247.247,59056;User ID=UserUv;Password=CubaAll07;database=ozHoteles;Connection Reset=FALSE" />
    <add key="HotelConnection" value="server=144.217.247.247,59056;User ID=UserUv;Password=CubaAll07; database=ozHoteles" />
    <add key="PortalConnectionString" value="server=144.217.247.247,59056;User ID=UserUv;Password=CubaAll07;database=ozUnivisit;Connection Reset=FALSE" />
    <add key="PortalConectionString" value="server=144.217.247.247,59056;User ID=UserUv;Password=CubaAll07;database=ozUnivisit;Connection Reset=FALSE" />
    <add key="ConnectionString.PortalMexico" value="data source=144.217.247.247,59056;persist security info=true;User ID=UserUv;Password=CubaAll07;packet size=4096; initial catalog=ozUnivisit" />
    <add key="PortalConnection" value="data source=144.217.247.247,59056;persist security info=true;User ID=UserUv;Password=CubaAll07;packet size=4096; initial catalog=ozUnivisit" />
    <add key="AutoConnection" value="server=144.217.247.247,59056;User ID=UserUv;Password=CubaAll07; database=Autos" />
    <add key="ActivityConnection" value="server=144.217.247.247,59056;User ID=UserUv;Password=CubaAll07; database=Actividades" />
    <add key="HotelConnectionLocal" value="data source=144.217.247.247,59056;persist security info=true;User ID=UserUv;Password=CubaAll07;packet size=4096; initial catalog=ozHoteles" />
    <add key="Club100_cs" value="server=144.217.247.247,59056; User ID=UserUv;Password=CubaAll07; database=Club100" />
    <add key="AgenciesConnection" value="server=144.217.247.247,59056; User ID=UserUv;Password=CubaAll07;database=agencias;Connection Reset=FALSE;Connection Timeout=20" />
    <add key="agencyconnectionstring" value="server=144.217.247.247,59056; User ID=UserUv;Password=CubaAll07;database=agencias;Connection Reset=FALSE;Connection Timeout=20" />

     <add key="ExternalLoginUrl" value="https://cuba.internetpowerhotel.com/WebAppLogin/Login.aspx"/>
    <add key="Passport.Passport" value="https://cuba.internetpowerhotel.com/wspassportLogin/Passport.asmx"/>
    <add key="idSistema" value="72"/>    
-->
    <!--
    <add key="HotelDicctionaryConectionString" value="server=184.72.54.21;User ID=UserUv;Password=AllUv07;database=ozHoteles;Connection Reset=FALSE" />
    <add key="HotelConnectionString" value="server=184.72.54.21;User ID=UserUv;Password=AllUv07;database=ozHoteles;Connection Reset=FALSE" />
    <add key="HotelConnection" value="server=184.72.54.21;User ID=UserUv;Password=AllUv07; database=ozHoteles; Connection Timeout=30" />
    <add key="PortalConnectionString" value="server=184.72.54.21;User ID=UserUv;Password=AllUv07;database=ozUnivisit;Connection Reset=FALSE" />
    <add key="PortalConectionString" value="server=184.72.54.21;User ID=UserUv;Password=AllUv07;database=ozUnivisit;Connection Reset=FALSE" />
    <add key="ConnectionString.PortalMexico" value="data source=184.72.54.21;persist security info=true;User ID=UserUv;Password=AllUv07;packet size=4096; initial catalog=ozUnivisit" />
    <add key="PortalConnection" value="data source=184.72.54.21;persist security info=true;User ID=UserUv;Password=AllUv07;packet size=4096; initial catalog=ozUnivisit" />
    <add key="AutoConnection" value="server=184.72.54.21;User ID=UserUv;Password=AllUv07; database=Autos" />
    <add key="ActivityConnection" value="server=184.72.54.21;User ID=UserUv;Password=AllUv07; database=Actividades" />
    <add key="HotelConnectionLocal" value="data source=184.72.54.21;persist security info=true;User ID=UserUv;Password=AllUv07;packet size=4096; initial catalog=ozHoteles" />
    <add key="Club100_cs" value="server=184.72.54.21; User ID=UserUv;Password=AllUv07; database=Club100" />
    <add key="AgenciesConnection" value="server=184.72.54.21; User ID=UserUv;Password=AllUv07;database=agencias;Connection Reset=FALSE;Connection Timeout=20" />
    <add key="agencyconnectionstring" value="server=184.72.54.21; User ID=UserUv;Password=AllUv07;database=agencias;Connection Reset=FALSE;Connection Timeout=20" />
    <add key="UniFacturaDigital" value="server=184.72.54.21; User ID=UserUv;Password=AllUv07;database=UniFacturaDigital;Connection Reset=FALSE;Connection Timeout=20" />
    <add key="ConfluxConnectionString" value="server=50.112.125.138; User ID=ConfluxUser;Password=0000;database=Conflux;Connection Reset=FALSE;Connection Timeout=20" />
    <add key="RateCrsConnectionString" value="server=184.72.54.21;User ID=UserUv;Password=AllUv07; database=ozRateCrs" />
    <add key="ExternalLoginUrl" value="https://crs.univisit.com/WebAppLoginFx35/Login.aspx" />
    <add key="Passport.Passport" value="http://crs.univisit.com/wspassportLogin/Passport.asmx" />
    <add key="idSistema" value="21" />
    -->
    
    <add key="WDTAdministrator" value="josealberto@univisit.com,josealberto@internetpowerhotel.com" />
    <add key="RMSConnection" value="server=HIPOLYTO-PC\HIPOLYTOSQL; User id=sa;password=0000;database=last;Connection Reset=FALSE;Connection Timeout=20" />
    <add key="ConexionWizcom" value="data source=Ozland;persist security info=true;user id=UserProg;password=0Zlap2012;packet size=4096; initial catalog=Wizcom" />
    <add key="IdAsociation" value="" />
    <add key="DefaultLanguage" value="en-US" />
    <add key="DefaultStyleSheet" value="/RateManager/StyleSheets/SteelBlue/SteelBlue.css" />
    <add key="DIR_TIPO_HAB" value="/Images/Rooms/" />
    <add key="MenuUsuarios" value="/RateManager/Portal/Modules/Menu" />
    <add key="TimeCookie" value="60" />
    <add key="pathRM" value="C:\ProyectosNet35\RateManager\RateManagerCss\RateManagerCss\RateManagerCss\Data\" />
    <add key="idRubro" value="10" />
    <add key="idCtrlPhotos" value="39" />
    <add key="Img_Prefix_Thumbs" value="_T" />
    <add key="Img_Prefix_Module" value="_M" />
    <add key="Img_Prefix_Large" value="_L" />
    <add key="LanguageDefault" value="English" />
    <add key="Albums" value="Albums/" />
    <add key="Albums_url" value="/RateManager/Albums" />
    <add key="Albums_Dir" value="C:\Users\Nelson\RateManager\RateManagerCss\RateManagerCss\RateManagerCss\Albums\" />
    <add key="MapPathPortal" value="C:\ProyectosNet35\RateManager\RateManagerCss\RateManagerCss\RateManagerCss\ozportalglobal\" />
    <add key="MapPathCRS" value="C:\ProyectosNet35\RateManager\RateManagerCss\RateManagerCss\RateManagerCss\ozportalglobal\" />
    <add key="urlCRS" value="http://localhost/ozhotelesadmon" />
    <add key="ImgDbUser" value="Server=ozland; Database=OzUnivisit;uid=UserProg; pwd=0Zlap2012;" />
    <add key="ImagenesAmenidades" value="http://localhost/ozportalglobal/Images/Amenidades/" />
    <add key="VirtualDirectoryLogos" value="http://localhost/OzPortalGlobal/ImagesSystem/Logos/" />
    <add key="ImgLogoCompany" value="/ImagesSystem/Logos/" />
    <add key="AniosLimit" value="4" />
    <add key="UnivisitMail" value="josealberto@univisit.com" />
    <add key="RutaLogs" value="C:\" />
    <add key="PrefijoLogs" value="WZSL" />
    <add key="UseTestDatabases" value="false" />
    <add key="DIR_INVOICE_PRINTING" value="https://crs.univisit.com/UniBilling/Engine/" />
    <add key="UserID" value="7241" />
    <add key="ConceptCFD_CommissionsForAgency" value="107" />
    <add key="ConceptCFD_CommissionsOverAgency" value="108" />
    <add key="ConceptCFD_CommissionsForPortal" value="109" />
    <add key="ConceptCFD_CommissionsForUniPantalla" value="110" />
    <add key="ConceptCFD_CommissionsForGDS" value="111" />
    <add key="ConceptCFD_CommissionsForCallCenter" value="112" />
    <add key="ConceptCFD_CommissionsForADS" value="115" />
    <add key="ConceptCFD_CommissionsForIDS" value="124" />
    <add key="DigitalInvoicePath" value="C:\Users\incu6\Documents\TeamProyects\RateManagerCss\RateManagerCss\Facturas\" />
    <add key="DigitalInvoiceXmlPath" value="C:\Users\incu6\Documents\TeamProyects\RateManagerCss\RateManagerCss\Facturas\Xml\" />
    <add key="DigitalInvoicePdfPath" value="C:\Users\incu6\Documents\TeamProyects\RateManagerCss\RateManagerCss\Facturas\Pdf\" />
    <add key="DigitalInvoiceImagePath" value="C:\Inetpub\wwwroot\UniBilling\Images\Jpg\InvoiceBackground.jpg" />
    <add key="PaymentRegistrationEmail" value="victor@oz.com.mx" />
    <add key="RutaReport" value="C:\Users\incu6\Documents\TeamProyects\RateManagerCss\RateManagerCss\RateManagerCss\Reports" />
    <add key="rutaXML" value="C:/Inetpub/wwwroot/RateManager/Portal/PortalPartners.xml" />
    <add key="maximoGaleria" value="20" />
    <add key="UrlInfoEmpresa" value="https://ozv/infoempresa/Default.aspx" />
    <add key="RestTarjetas" value="RestTarjetas" />
    <add key="PassportLogin" value="Univisit" />
    <add key="PassportPassword" value="POXZ43dxcA34a" />
    <add key="PaginaError" value="http://test.univisit.com/wspassportLogin/unauthorizedPage.aspx" />
    <!-- <add key="Passport.Passport" value="http://test.univisit.com/wsPassport/Passport.asmx" />-->
    <add key="DefaultLanguajeLogin" value="1" />
    <add key="DefaultLanguageMenu" value="1" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="TicketConnectionString" value="server=50.112.125.138;User ID=UserProg;Password=0Zlap2012;database=ozTicket;Connection Reset=FALSE" />
    <add key="TiketDefaultUserAssignament" value="68" />
    <add key="TiketDefaultEmailAssignament" value="ana.sabin@univisit.com" />
    <add key="TiketDefaultDeptoAssignament" value="7" />
    <add key="TicketAllowedFiles" value=".avi|.bmp|.css|.doc|.docx|.htm|.html|.htmls|.ico|.jpeg|.jpg|.js|.mid|.midi|.mov|.mp3|.mpeg|.pdf|.ppt|.pptx|.ppz|.ram|.rm|.png|.gif|.tif|.wav|.xls|.xlsx|.zip|.rar" />
    <add key="TicketMaxFileLenght" value="2048" />
    <add key="TicketUrl" value="http://www.oz.com.mx/ticketsmanager" />
    <add key="TicketIssueList" value="False" />
    <add key="wsConectividadUser" value="eqctest1780041" />
    <add key="wsConectividadPassword" value="testunivisit" />
    <add key="ChangesNotificationMail" value="maira@oz.com.mx" />
    <add key="RatesChangesNotificationMail" value="ricardo@oz.com.mx" />
    <add key="wlNotificationLifeDays_5" value="2" />
    <add key="wlNotificationLifeDays_49" value="2" />
    <add key="BankOnlineCCPayp" value="BMX" />
    <add key="AllowOnlineCCPayp" value="true" />
    <add key="idUrlPayment" value="992" />
    <add key="UrlPayment" value="http://crs.univisit.com/webpaymentdemo/PayBanamex2Response.aspx" />
    <add key="MerchantResponseURL" value="http://intranet.ozvirtual.net/webpayment/paybancomerresponse.aspx" />
    <add key="MerchantPosURL" value="http://intranet.ozvirtual.net/webpayment/paybancomerresponsepost.aspx" />
    <add key="MerchantService_Url" value="127.0.0.1" />
    <add key="MerchantService_Port" value="9050" />
    <add key="MerchantService_Account" value="test1440593" />
    <add key="MerchantService_Currency" value="MXN" />
    <add key="MerchantIdOnlineCCPaypment" value="6083950" />
    <add key="HotelMerchantNamePayment" value="" />
    <add key="MerchantService_AccessCode" value="0F9BD591" />
    <add key="MerchantService_SecureHash" value="2D8D69C593DD44269D06740F0B05D33B" />
    <add key="smtpConfiguration" value="1" />
    <add key="smtpauthenticate" value="1" />
    <add key="sendusername" value="smtpuser" />
    <add key="sendpassword" value="smtpauthed" />
    <add key="smtpserver" value="mail.univisit.com" />
    <add key="sendusing" value="2" />
    <add key="smtpport" value="25" />
    <add key="smtpusessl" value="false" />
    <add key="SQLTimeOut" value="35" />
    <add key="PrivateKeyPath" value="C:\Users\incu6\Documents\TeamProyects\Unibilling\UniBilling\UniBilling\PrivateKeys\" />
    <add key="BillingVersion" value="3.2" />
    <add key="Pac_PathLog" value="C:\Users\Satyuros\Documents\RateManager\RateManagerCss\RateManagerCss\RateManagerCss\Logs\" />
    <add key="Pac_UrlWsSeal" value="https://prepws.buzone.com.mx:3045/services/TimbradoCFDService" />
    <add key="Pac_UrlWsCancel" value="http://prepwww.buzone.com.mx/WsInterfaceSAT/SATCancellationService.asmx" />
    <add key="Pac_UserName" value="3334" />
    <add key="Pac_Password" value="BuzonPre#12" />
    <add key="Pac_FileType" value="6739" />
    <add key="Pac_Simulate" value="0" />
    <!--segmento para Nitin
    <add key="idSegmento" value="4" />-->
    <!--segmento para CIBERTRIP-->
    <!--<add key="idSegmento" value="274" />-->
    <add key="idSegmento" value="0" />
    <add key="segmentosPublicos" value="'R','K','P','W','B','F','D','N','C','I','O'" />
    <add key="switchRulesWebService" value="true" />
    <add key="RulesWebService" value="http://test.univisit.com/ratecrs/Services/RulesWebService.asmx" />
    <add key="switchRulesWebService" value="true" />
    <!--<add key="ZunUrl" value="http://zunpmsws.tur.cu/v3/origen.asmx" />-->
    <add key="ZunCurrency" value="EUR" />
    <add key="AdminCompanyRegistration" value="0" />
    <add key="WsConnectWcf" value="http://www.test.com/WsConectividad/wsConnectWCFv2.svc" />
    <add key="pathimgrooms" value="https://crs.univisit.com/Images/HotelAdmon//Images/Rooms/" />
    <add key="pathimgroomsdefault" value="http://test.com/ratemanager/Images/hotel_placeholder.jpg" />
    <!--SMTP CONFIGURATION-->
    <add key="usernameNotification" value="internet power" />
    <add key="passwordNotification" value="Fej6ERgJdP9LMlx7FKeQ5g" />
    <add key="hostNotification" value="smtp.mandrillapp.com" />
    <add key="portNotification" value="587" />
    <!-- LOGO-->
    <add key="logoUrl" value="https://crs.univisit.com/Images/global/ImagesSystem/Logos/LogoCompany_" />
    <add key="TwoWayUpdateURL" value="http://engine.confluxmanager.com/api/inventory/ota/update" />
    <add key="Log_Path" value="C:\logs\ratemanager\" />

    <add key="allowsUserchainToModifyReservation" value="true"/>
  </appSettings>
  <uniBillingConnectionStrings>
    <add key="OzUnivisit" value="Data Source=50.112.125.138;Initial Catalog=ozUnivisit;User ID=UserUv;Password=Uv@ll2017!" />
    <add key="HotelBillingSystem" value="Data Source=50.112.125.138;Initial Catalog=HotelBillingSystem;User ID=UserUv;Password=Uv@ll2017!" />
    <add key="UniFacturaDigital" value="Data Source=50.112.125.138;Initial Catalog=UniFacturaDigital;User ID=UserUv;Password=Uv@ll2017!" />
    <add key="UniBanking" value="Data Source=50.112.125.138;Initial Catalog=UniBanking;User ID=UserUv;Password=Uv@ll2017!" />
    <!--
    <add key="OzUnivisit" value="Data Source=184.72.54.21;Initial Catalog=ozUnivisit;User ID=UserUv;Password=AllUv07" />
    <add key="HotelBillingSystem" value="Data Source=184.72.54.21;Initial Catalog=HotelBillingSystem;User ID=UserUv;Password=AllUv07" />
    <add key="UniFacturaDigital" value="Data Source=184.72.54.21;Initial Catalog=UniFacturaDigital;User ID=UserUv;Password=AllUv07" />
    <add key="UniBanking" value="Data Source=184.72.54.21;Initial Catalog=UniBanking;User ID=UserUv;Password=AllUv07" />
-->
    <!--
  <add key="OzUnivisit" value="Data Source=144.217.247.247,59056;Initial Catalog=ozUnivisit;User ID=UserUv;Password=CubaAll07" />
    <add key="HotelBillingSystem" value="Data Source=144.217.247.247,59056;Initial Catalog=HotelBillingSystem;User ID=UserUv;Password=CubaAll07" />
    <add key="UniFacturaDigital" value="Data Source=144.217.247.247,59056;Initial Catalog=UniFacturaDigital;User ID=UserUv;Password=CubaAll07" />
    <add key="UniBanking" value="Data Source=144.217.247.247,59056;Initial Catalog=UniBanking;User ID=UserUv;Password=CubaAll07" />
    -->
  </uniBillingConnectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <applicationSettings>
    <RateManager.My.MySettings>
      <setting name="RateManager_WsConectividad_wsConnect" serializeAs="String">
        <value>http://intranet.ozvirtual.net/WSConectividad/wsConnect.asmx</value>
      </setting>
      <setting name="RateManager_cu_tur_zunpmsws_ZUNWebservices" serializeAs="String">
        <value>http://zunpmsws.tur.cu/origen.asmx</value>
      </setting>
      <setting name="RateManager_RulesWebService_RulesWebService" serializeAs="String">
        <value>http://test.univisit.com/ratecrs/Services/RulesWebService.asmx</value>
      </setting>
      <setting name="RateManager_WsConnectWcf_wsConnectWCFv2" serializeAs="String">
        <value>http://www.test.com/WsConectividad/wsConnectWCFv2.svc</value>
      </setting>
    </RateManager.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.10.0" newVersion="1.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.0.0" newVersion="2.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>