.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-success{
    background: greenyellow;
}

.bg-error{
    background: red;
}

/* Solid border */
hr.solid {
    border-top: 1px solid #bbb;
}

.col-form-label { 
    font-weight: 700;
}

.vc-shadow {
    border-width: 0px !important;
    box-shadow: none !important;
}

.col-custom-3 {
    max-width: 35%;
}

.nav-custom-tab {
    color:#10467a!important;
    font-size: 2rem !important;
    font-weight: 600 !important;
}

.fix-dropdown .multiselect__content-wrapper {
  position: absolute !important;
  z-index: 9999 !important;
  top: 100% !important;
}




  