<!DOCTYPE html>
<html>
<head>
    <title>Reporte</title>
    <meta charset="utf-8" />
    <link href="../Includes/report/bootstrap.min.css" rel="stylesheet" />
    <link href="../Includes/report/pikaday.css" rel="stylesheet" />
    <link href="../Includes/report/magnific-popup.css" rel="stylesheet" />
    <style>
        header{ background: #2e6da4; color:#fff; }
        .main { padding:15px;}
        ._img { position:absolute; margin-left:20px; margin-top:-3px; width:35px; }
        .theadTable { background:indianred; color:#fff;}
        #report td { text-align:center; }
        footer { background:#f2f2f2; padding-left:5px; padding-right:5px;}
        footer table {font-size:12px;}
        footer table td { padding: 7px !important; text-align:center;}
        .hoteldata { background:cadetblue; color:#fff; }
    </style>
    <!--se usaran los mismos scripts de f2go-->
    <script src="../Includes/report/Jquery1-11.js"></script>
    <script src="../Includes/report/pikaday.js"></script>
    <script src="../Includes/report/jquery.magnific-popup.js"></script>
    <script src="../Includes/report/Angular1-2.js"></script>
    <script src="../Includes/report/f2goController.js"></script>
    <script src="../Includes/report/f2goDirective.js"></script>
    <script src="../Includes/report/f2goFactory.js"></script>
    <script>
        $(function () {
            $('#popup').magnificPopup({ type: 'inline', preloader: true });
            parent.remove_leftMenu();
            
            window.isUv = 1;
        })
    </script>
</head>
<body ng-app="app" ng-controller="report">
    <header>
        <div class="container">
            <h4>Reporte</h4>
        </div>
    </header>

    <section class="main">
        <div class="row">
            <div class="col-sm-3 col-lg-2">
                <small>Fecha de inicio</small>
                <br />
                <input type="text" readonly class="form-control" ng-model="checkin" calendar placeholder="dd / mm / yyyy" />
            </div>
            <div class="col-sm-3 col-lg-2">
                <small>Fecha de llegada</small>
                <br />
                <input type="text" readonly class="form-control" ng-model="checkout" calendar placeholder="dd / mm / yyyy" />
            </div>
            <div class="col-sm-5 col-lg-6">
                <br />
                <input type="button" value="BUSCAR" search class="btn-primary btn" />
                <img src="../Images/loadingCR.gif" ng-show="loading" class="_img" alt="Cargando..." />
            </div>
            <div class="col-sm-1 col-lg-2">
                <br />
                <img src="../Images/excel.png" excel ng-show="showExcel" style="cursor:pointer" title="Exportar a Excel" />
            </div>
        </div>
        <br />
        <div class="row">
            <!--<div class="col-sm-3">
                <small>N&uacute;mero de reservaci&oacute;n</small>
                <br />
                <input type="text" class="form-control" />
            </div>-->
            <div class="col-sm-3">
                <div class="radio">
                    <label>
                        <input ng-model="typeSearch.value" type="radio" value="0" checked /> B&uacute;squeda por fecha de reservaci&oacute;n
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input ng-model="typeSearch.value" type="radio" value="1" /> B&uacute;squeda por fecha de entrada al hotel
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input ng-model="typeSearch.value" type="radio" value="2" /> B&uacute;squeda por fecha de salida al hotel
                    </label>
                </div>
            </div>
        </div>
    </section>
    <br />

    <footer>
        <table id="report" class="table table-condensed">
            <thead>
                <tr class="theadTable">
                    <td>No. reservaci&oacute;n</td>
                    <!--<td>No. reservaci&oacute;n F2GO</td>-->
                    <td>Status</td>
                    <td>Fecha reservaci&oacute;n</td>
                    <td>Nombre del huesped</td>
                    <td>Correo del huesped</td>
                    <!--<td class="hoteldata">Hotel</td>-->
                    <td class="hoteldata"># de habitacions</td>
                    <td class="hoteldata">Fecha de llegada</td>
                    <td class="hoteldata">Fecha de salida</td>
                    <td class="hoteldata">Adultos</td>
                    <td class="hoteldata">Menores</td>
                    <td class="hoteldata">C&oacute;digo de promoci&oacute;n</td>
                    <td>Canal</td>
                    <td>Forma de pago</td>
                    <td>Tipo de pago</td>
                    <td>No. Autorizaci&oacute;n</td>
                    <td>Total</td>
                    <!--<td>Moneda</td>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in jsonResponse">
                    <td>{{a.NoReservacion}}</td>
                    <!--<td>{{a.NoReservacionGalileo}}</td>-->
                    <td>{{StatusValue(a.Status)}}</td>
                    <td>{{a.FechaReservacion}}</td>
                    <td>{{a.Nombre_cl}} {{a.Apellido_cl}}</td>
                    <td>{{a.Email_cl}}</td>
                    <!--<td>{{a.HotelGNombre}}</td>-->
                    <td>{{a.Habitaciones}}</td>
                    <td>{{a.CheckIn}}</td>
                    <td>{{a.CheckOut}}</td>
                    <td>{{a.adultos}}</td>
                    <td>{{a.ninios}}</td>
                    <td>{{a.AccessCode}}</td>
                    <td>{{a.Source}}</td>
                    <td>{{a.paymentmethod}}</td>
                    <td>{{a.Pasarela}}</td>
                    <td>{{a.Autorizacion}}</td>
                    <td>{{a.Total}}</td>
                    <!--<td>{{a.TotalProviderCurrencyCode}}</td>-->
                </tr>
            </tbody>
        </table>
    </footer>

    <a id="popup" href="#errorData"></a>
    <div id="errorData" class="white-popup-block mfp-hide">
        <h2>Especifique la fecha</h2>
    </div>
</body>
</html>
