@import '../../../styles/base.scss';
@import '../../../styles/v-tooltip.scss';
@import '../../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
@import '../../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';

.vc-shadow {
    border-width: 0px !important;
    box-shadow: none !important;
}
.multiselect__tags
{
    font-size: 12px !important;
    border: 1px solid #ced4da !important;
}
.col-form-label { 
    font-weight: 700;
}
.table-sm{
    font-size: 14px;
}