@import '../../../styles/base.scss';
@import '../../../styles/v-tooltip.scss';
@import '../../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';

$color-light-gray: rgba(0,0,0,.1);

/*span { font-weight: bold;}
.ccdata {
    p {
        margin-bottom: 0;
    }
}*/

$point-eight-em: 0.8em;



.col-gap-2 {
    column-gap: 0.5rem;
}

.font-size-1 {
    font-size: small !important;
}

.font-size-2 {
    font-size: medium !important;
}

.font-size-3 {
    font-size: smaller !important;
}

.w-60 {
    width: 60% !important;
}
.w-70 {
    width: 70% !important;
}
.card-body, .card-header { padding: .5rem;}
address { 
    margin-bottom: 0;
    font-size: 15px;
}
.alert { margin-bottom: 0;}

.card-accent-primary {
    border-top-color: #10467a;
    border-top-width: 2px;
}
.card-accent-success {
    border-top-color: #4dbd74;
    border-top-width: 2px;
}
.card-accent-warning {
    border-top-color: #ffc107;
    border-top-width: 2px;
}
.card-accent-danger {
    border-top-color: #f86c6b;
    border-top-width: 2px;
}
.custom-border-card-primary {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-top-color: #10467a;
    border-top-width: 2px;
    padding: .25rem;
}
.vc-shadow {
    border-width: 0px !important;
    box-shadow: none !important;
}
.vdp-vc-input {
    > input:first-child {
        text-align: center !important;
    }
}
.swal2-container-custom {
    z-index: 1 !important;
}
.swal2-max-width{
    width: auto !important;
}
.swal3-actions{
    z-index: auto !important;
}
.swal-width-80 {
    width: 80% !important;
}

//c -> custom
.fa-1x-c {
    font-size: $point-eight-em;
}
.cite-date {
    border: none;
    border-bottom: 1px solid $color-light-gray !important;
    background-color: transparent !important;
    & span.remove-item {
        cursor: pointer;
    }
}

.container-flex-column {
    display: flex;
    flex-direction: column;
    //max-width: calc(); TODO: de todos los hijos obtener el de mayor tamano y agregarle mas tamano
    &.row-gap-1 {
        row-gap: 0.5rem;
    }    
}

.divider {
    margin-top: 0px;
    margin-bottom: 6px;
    border-top: 1px solid $color-light-gray;
}

.padding-l-15{
    padding-left: 15px !important;
}

.padding-r-15{
    padding-right: 15px !important;
}


.color-212529{
    color: #212529;
}

.truncate-text {
    text-overflow: ellipsis;  // this line adds the ellipsis
    cursor: pointer;          // this changes the cursor 
    word-break: break-all;
    overflow:hidden;         // this hides the overflowing text
    white-space: nowrap;
}

.truncate-text:hover {
    overflow: visible; 
    white-space: normal;
    height:auto;
}

.h-fit-content {
    height: fit-content !important;
}

@media only screen and (min-width: 1280px) {
    .swal2-custom-popup {
        width: 40rem !important;
    }
}


